{% extends "base_generic.html" %}

{% block content %}
<h1><p align="center">Lingueglietta su un'amena collinetta </p></h1>

<p align="center"><i>Su una amena collinetta</i></p>
<p align="center"><i>sorge chiaro il mio paesello</i></p>
<p align="center"><i>che a me sembra tanto bello:</i></p>
<p align="center"><i>poche case, una scuola,</i></p>
<p align="center"><i>una piazza, una chiesuola,</i></p>
<p align="center"><i>d'acqua pura una sorgente.</i></p>
<p align="center"><i>Poca sì ma buona gente.</i></p>
<p align="center"><i>Da una parte sorge il mare</i></p>
<p align="center"><i>e dall'altra il monte appare.</i></p>

{% endblock %}