{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <!-- {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %} -->

  {% if next %}
    {% if user.is_authenticated %}
      <p>Il tuo account non ha i permessi per vedere questa pagina. Per procedere accedi con un altro account.</p>
    {% else %}
      <p>Per vedere questa pagina è necessario essere autenticati.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{form|crispy}}

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p></p>
  <p><a href="{% url 'password_reset' %}">Password Dimenticata?</a></p>
  Se non hai un account: <a href="{% url 'users:signup' %}">Registrati</a>
  <p></p>
{% endblock %}