{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"d F Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
        
      </div>
      
      <h2 class="article-title">{{ object.title }}</h2>
      <div class= "border border-primary rounded ">
      <p class="article-content">{{ object.content|linebreaks }}</p>
      </div>
        {% if user.is_authenticated%}
        <div>
            <form method="POST" class="post-form">{% csrf_token %}
              {%for item in form%}
              <a style="padding:10px"></a>{{item|as_crispy_field}}
              {%endfor%}
              <button type="submit" class="save btn btn-primary">Invia Commento</button>
            </form>
        </div>
        {% endif%}
        <hr>
        <h4>Commenti Precedenti</h4>
                <hr>
        <div class=" row post_spacing background_design1 ">
            <hr>
            {% for comment in post.comment_set.all %}
                <div class=" col-md-12 comment">
                    <small class="text-muted"><strong> Data Commento: </strong> {{ comment.date_published }}</small>
                    <small class="text-muted"><strong> Autore Commento: </strong> {{ comment.author }}</small>
                   
                    
                    
                    <p><i> {{ comment.content|linebreaks }}</i></p>
                      <hr>  
                </div>

            {% empty %}
                <p>Non sono presenti commenti</p>
            {% endfor %}
        </div>




      <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-dark btn-sm mt-1 mb-1" class>Back</a>
    </div>

  </article>
{% endblock content %}